set_location du.r_Count_RNIB14B2[12] 4 8 4 # SB_LUT4 (LogicCell: du.r_Count_RNIB14B2[12]_LC_0)
set_location du.r_Count_RNIO6TV[8] 4 8 5 # SB_LUT4 (LogicCell: du.r_Count_RNIO6TV[8]_LC_1)
set_location du.r_Count_RNIQBJM[4] 4 8 3 # SB_LUT4 (LogicCell: du.r_Count_RNIQBJM[4]_LC_2)
set_location du.r_Count_RNIU9791[17] 4 8 0 # SB_LUT4 (LogicCell: du.r_Count_RNIU9791[17]_LC_3)
set_location du.r_Count_RNO[0] 5 6 1 # SB_LUT4 (LogicCell: du.r_Count[0]_LC_4)
set_location du.r_Count[0] 5 6 1 # SB_DFFSR (LogicCell: du.r_Count[0]_LC_4)
set_location du.r_Count_RNO[1] 5 6 0 # SB_LUT4 (LogicCell: du.r_Count[1]_LC_5)
set_location du.r_Count[1] 5 6 0 # SB_DFFSR (LogicCell: du.r_Count[1]_LC_5)
set_location du.r_Count_RNO[10] 5 8 1 # SB_LUT4 (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count[10] 5 8 1 # SB_DFFSR (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count_2_cry_10_c 5 8 1 # SB_CARRY (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count_RNO[11] 5 8 2 # SB_LUT4 (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count[11] 5 8 2 # SB_DFFSR (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count_2_cry_11_c 5 8 2 # SB_CARRY (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count_RNO[12] 5 8 3 # SB_LUT4 (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count[12] 5 8 3 # SB_DFFSR (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count_2_cry_12_c 5 8 3 # SB_CARRY (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count_RNO[13] 5 8 4 # SB_LUT4 (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count[13] 5 8 4 # SB_DFFSR (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count_2_cry_13_c 5 8 4 # SB_CARRY (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count_RNO[14] 5 8 5 # SB_LUT4 (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count[14] 5 8 5 # SB_DFFSR (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count_2_cry_14_c 5 8 5 # SB_CARRY (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count_RNO[15] 5 8 6 # SB_LUT4 (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count[15] 5 8 6 # SB_DFFSR (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count_2_cry_15_c 5 8 6 # SB_CARRY (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count_RNO[16] 5 8 7 # SB_LUT4 (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count[16] 5 8 7 # SB_DFFSR (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count_2_cry_16_c 5 8 7 # SB_CARRY (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count_RNO[17] 5 9 0 # SB_LUT4 (LogicCell: du.r_Count[17]_LC_13)
set_location du.r_Count[17] 5 9 0 # SB_DFFSR (LogicCell: du.r_Count[17]_LC_13)
set_location du.r_Count_RNO[2] 5 7 1 # SB_LUT4 (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count[2] 5 7 1 # SB_DFFSR (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count_2_cry_2_c 5 7 1 # SB_CARRY (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count_RNO[3] 5 7 2 # SB_LUT4 (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count[3] 5 7 2 # SB_DFFSR (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count_2_cry_3_c 5 7 2 # SB_CARRY (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count_RNO[4] 5 7 3 # SB_LUT4 (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count[4] 5 7 3 # SB_DFFSR (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count_2_cry_4_c 5 7 3 # SB_CARRY (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count_RNO[5] 5 7 4 # SB_LUT4 (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count[5] 5 7 4 # SB_DFFSR (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count_2_cry_5_c 5 7 4 # SB_CARRY (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count_RNO[6] 5 7 5 # SB_LUT4 (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count[6] 5 7 5 # SB_DFFSR (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count_2_cry_6_c 5 7 5 # SB_CARRY (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count_RNO[7] 5 7 6 # SB_LUT4 (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count[7] 5 7 6 # SB_DFFSR (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count_2_cry_7_c 5 7 6 # SB_CARRY (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count_RNO[8] 5 7 7 # SB_LUT4 (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count[8] 5 7 7 # SB_DFFSR (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count_2_cry_8_c 5 7 7 # SB_CARRY (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count_RNO[9] 5 8 0 # SB_LUT4 (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_Count[9] 5 8 0 # SB_DFFSR (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_Count_2_cry_9_c 5 8 0 # SB_CARRY (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_State_RNIHQU54 1 8 0 # SB_LUT4 (LogicCell: du.r_State_RNIHQU54_LC_22)
set_location du.r_State_RNO 6 8 3 # SB_LUT4 (LogicCell: du.r_State_LC_23)
set_location du.r_State 6 8 3 # SB_DFF (LogicCell: du.r_State_LC_23)
set_location du.r_State_RNO_0 6 8 2 # SB_LUT4 (LogicCell: du.r_State_RNO_0_LC_24)
set_location du.r_State_RNO_1 6 8 5 # SB_LUT4 (LogicCell: du.r_State_RNO_1_LC_25)
set_location du.r_State_RNO_2 6 8 7 # SB_LUT4 (LogicCell: du.r_State_RNO_2_LC_26)
set_location du.r_State_RNO_3 6 8 1 # SB_LUT4 (LogicCell: du.r_State_RNO_3_LC_27)
set_location du.r_State_RNO_4 6 7 1 # SB_LUT4 (LogicCell: du.r_State_RNO_4_LC_28)
set_location du.r_State_RNO_5 6 8 4 # SB_LUT4 (LogicCell: du.r_State_RNO_5_LC_29)
set_location r_LED_1_RNO 7 8 1 # SB_LUT4 (LogicCell: r_LED_1_LC_30)
set_location r_LED_1 7 8 1 # SB_DFF (LogicCell: r_LED_1_LC_30)
set_location r_Switch_1_THRU_LUT4_0 7 8 2 # SB_LUT4 (LogicCell: r_Switch_1_LC_31)
set_location r_Switch_1 7 8 2 # SB_DFF (LogicCell: r_Switch_1_LC_31)
set_location du.r_Count_2_cry_1_c 5 7 0 # SB_CARRY (LogicCell: du.r_Count_2_cry_1_c_LC_32)
set_location GND -1 -1 -1 # GND
set_io du.r_State_RNIHQU54_0 0 8 1 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io o_LED_1_obuf 13 6 1 # ICE_IO
