set_location o_LED_1_obuf_RNO 12 4 0 # SB_LUT4 (LogicCell: o_LED_1_obuf_RNO_LC_0)
set_location GND -1 -1 -1 # GND
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io i_Switch_2_ibuf 13 3 1 # ICE_IO
set_io o_LED_1_obuf 13 6 1 # ICE_IO
