set_location IN_MUX_bfv_8_7_0_ 8 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_6_0_ 11 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_7_0_ 11 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_8_0_ 11 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_3_0_ 12 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_4_0_ 12 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_5_0_ 12 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_6_0_ 9 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_7_0_ 9 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_8_0_ 9 8 0 #ICE_CARRY_IN_MUX
set_location led_blink_inst.un3_r_Count_1_1_cry_14_c 8 8 5 #SB_CARRY
set_location led_blink_inst.r_Count_4[13] 11 7 4 #SB_DFF
set_location led_blink_inst.r_Count_4_RNO[13] 11 7 4 #SB_LUT4
set_location led_blink_inst.r_Count_1[9] 8 8 0 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_15_c 8 8 6 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[9] 12 6 3 #SB_LUT4
set_location led_blink_inst.r_Count_4[8] 11 6 7 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO_0[7] 12 3 6 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[21] 9 8 4 #SB_LUT4
set_location led_blink_inst.r_Count_1[19] 7 9 4 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[12] 12 4 3 #SB_LUT4
set_location led_blink_inst.r_Count_3[22] 12 5 5 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[3] 8 7 2 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_13_c 12 4 4 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[21] 11 5 0 #SB_LUT4
set_location led_blink_inst.r_Count_4[19] 11 8 2 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[3] 9 6 2 #SB_LUT4
set_location led_blink_inst.r_Count_2[12] 8 5 2 #SB_DFF
set_location led_blink_inst.r_Count_1[4] 8 7 3 #SB_DFF
set_location led_blink_inst.r_Count_3[14] 12 4 5 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[16] 9 4 4 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[10] 7 8 7 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[7] 12 6 1 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_21_c 11 8 4 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_12_c 12 4 3 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[23] 11 8 6 #SB_LUT4
set_location led_blink_inst.r_Count_2[2] 9 6 1 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[9] 8 8 0 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_8_c 12 3 7 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[10] 11 7 1 #SB_LUT4
set_location led_blink_inst.r_Count_3[19] 12 5 2 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_22_c 9 8 5 #SB_CARRY
set_location led_blink_inst.r_Count_4[7] 12 6 1 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_13_c 8 8 4 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_1_c 12 3 0 #SB_CARRY
set_location led_blink_inst.r_Count_1_RNO_0[23] 8 9 6 #SB_LUT4
set_location led_blink_inst.r_Count_1[14] 8 8 5 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[11] 12 4 2 #SB_LUT4
set_location led_blink_inst.r_Count_3[7] 11 3 4 #SB_DFF
set_location led_blink_inst.r_Count_2[20] 8 6 2 #SB_DFF
set_location led_blink_inst.r_Count_4_RNO_0[17] 11 8 0 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[6] 9 6 5 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_1_c 8 7 0 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO_0[18] 12 5 1 #SB_LUT4
set_location led_blink_inst.r_Count_3[17] 11 5 1 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[13] 7 8 5 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_20_c 8 9 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_10_c 11 7 1 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[2] 11 6 1 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_8_c 8 7 7 #SB_CARRY
set_location led_blink_inst.r_Count_2_RNO_0[17] 9 8 0 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_19_c 11 8 2 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_14_c 12 4 5 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNI488T1[12] 12 8 7 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[21] 7 9 5 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[11] 8 8 2 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[5] 11 3 6 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[8] 9 6 7 #SB_LUT4
set_location led_blink_inst.r_Count_2[19] 8 6 4 #SB_DFF
set_location led_blink_inst.r_Count_1[3] 8 7 2 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_2_c 9 6 1 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_12_c 9 7 3 #SB_CARRY
set_location led_blink_inst.r_Count_4[2] 11 6 1 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[11] 9 4 3 #SB_LUT4
set_location led_blink_inst.r_Count_4[21] 11 8 4 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO_0[18] 9 8 1 #SB_LUT4
set_location led_blink_inst.r_Count_1[13] 7 8 5 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[14] 12 4 5 #SB_LUT4
set_location led_blink_inst.r_Count_3[0] 11 4 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_14_c 11 7 5 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_5_c 9 6 4 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_13_c 9 7 4 #SB_CARRY
set_location led_blink_inst.un3_r_Count_1_1_cry_5_c 8 7 4 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_9_c 11 7 0 #SB_CARRY
set_location led_blink_inst.r_Count_4[17] 12 8 3 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[8] 11 3 2 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[5] 9 6 4 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[22] 9 8 7 #SB_LUT4
set_location led_blink_inst.r_Count_1[16] 8 8 7 #SB_DFF
set_location led_blink_inst.r_Count_4_RNO[17] 12 8 3 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[13] 11 4 6 #SB_LUT4
set_location led_blink_inst.r_Count_3[5] 11 3 6 #SB_DFF
set_location led_blink_inst.r_Count_3[12] 12 4 3 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[2] 8 7 1 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[5] 8 7 4 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_12_c 8 8 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_6_c 11 6 5 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNIH7VR4[2] 12 7 3 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[20] 12 5 3 #SB_LUT4
set_location led_blink_inst.r_Count_2[22] 9 8 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_7_c 9 6 6 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNIA7S1[4] 12 6 4 #SB_LUT4
set_location led_blink_inst.r_Count_4[18] 11 8 1 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO_0[12] 9 7 3 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[0] 9 5 6 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNIV9MR[12] 8 5 6 #SB_LUT4
set_location led_blink_inst.r_Count_2[11] 9 4 3 #SB_DFF
set_location led_blink_inst.r_Count_3[15] 12 4 6 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[19] 8 6 4 #SB_LUT4
set_location led_blink_inst.r_Count_2[8] 9 6 7 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[7] 8 7 6 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[22] 8 9 5 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[11] 7 8 4 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_6_c 8 7 5 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_17_c 11 8 0 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[0] 12 6 6 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNIHE7P1[10] 11 3 5 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNI7SOH1[23] 9 5 2 #SB_LUT4
set_location led_blink_inst.r_Count_1[21] 7 9 5 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_2_c 11 6 1 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_22_c 11 8 5 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_2_c 12 3 1 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[2] 12 3 1 #SB_LUT4
set_location led_blink_inst.r_Count_2[16] 9 4 4 #SB_DFF
set_location led_blink_inst.r_Count_1[0] 7 7 0 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_9_c 9 7 0 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_16_c 9 7 7 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[20] 12 8 0 #SB_LUT4
set_location led_blink_inst.r_Count_4[1] 12 6 7 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[12] 8 5 2 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO_0[9] 9 7 0 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNIUL825[10] 9 5 3 #SB_LUT4
set_location led_blink_inst.r_Count_2[3] 9 6 2 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[8] 8 7 7 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[14] 8 8 5 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_9_c 8 8 0 #SB_CARRY
set_location led_blink_inst.r_Count_1_RNO_0[13] 8 8 4 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_18_c 11 8 1 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[7] 11 3 4 #SB_LUT4
set_location led_blink_inst.un2_r_Count_2_1_cry_18_c 9 8 1 #SB_CARRY
set_location led_blink_inst.r_Count_4[4] 12 6 0 #SB_DFF
set_location led_blink_inst.r_Count_2[6] 9 6 5 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_12_c 11 7 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_15_c 9 7 6 #SB_CARRY
set_location led_blink_inst.r_Count_4[10] 11 7 1 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO_0[22] 9 8 5 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[20] 8 9 3 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[18] 8 9 1 #SB_LUT4
set_location led_blink_inst.r_Count_1[15] 7 7 7 #SB_DFF
set_location led_blink_inst.o_LED_3_RNO 11 4 3 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_9_c 12 4 0 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[14] 11 7 5 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[16] 12 4 7 #SB_LUT4
set_location led_blink_inst.r_Count_3[6] 12 3 5 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[19] 7 9 4 #SB_LUT4
set_location led_blink_inst.o_LED_1_RNO 7 7 4 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[8] 11 6 7 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO_0[20] 11 8 3 #SB_LUT4
set_location led_blink_inst.r_Count_2[21] 9 8 4 #SB_DFF
set_location led_blink_inst.r_Count_1_RNIVTTA[13] 6 8 7 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_2_c 8 7 1 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_7_c 11 6 6 #SB_CARRY
set_location led_blink_inst.r_Count_4[15] 11 7 6 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[7] 9 6 6 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[20] 8 6 2 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO_0[11] 9 7 2 #SB_LUT4
set_location led_blink_inst.r_Count_1[18] 7 9 0 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_13_c 11 7 4 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[19] 11 8 2 #SB_LUT4
set_location led_blink_inst.r_Count_3[23] 12 5 6 #SB_DFF
set_location led_blink_inst.r_Count_3[10] 11 4 4 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[0] 7 7 0 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[3] 11 6 2 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNI2IHV[5] 12 6 5 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[22] 12 5 5 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[2] 9 6 1 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO_0[14] 9 7 5 #SB_LUT4
set_location led_blink_inst.r_Count_2[13] 9 7 4 #SB_DFF
set_location led_blink_inst.r_Count_1[5] 7 7 6 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[17] 8 6 0 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[5] 7 7 6 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[20] 7 8 2 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[17] 7 9 2 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_11_c 11 7 2 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[6] 12 6 2 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[10] 8 8 1 #SB_LUT4
set_location led_blink_inst.r_Count_1[23] 8 9 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_4_c 11 6 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_11_c 12 4 2 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_11_c 9 7 2 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[4] 12 3 3 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[9] 9 5 4 #SB_LUT4
set_location led_blink_inst.r_Count_2[18] 8 6 5 #SB_DFF
set_location led_blink_inst.r_Count_1[2] 8 7 1 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_7_c 8 7 6 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_16_c 11 7 7 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[22] 11 8 5 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO_0[6] 11 6 5 #SB_LUT4
set_location led_blink_inst.r_Count_4[3] 11 6 2 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[10] 8 6 6 #SB_LUT4
set_location led_blink_inst.r_Count_2[1] 9 5 0 #SB_DFF
set_location led_blink_inst.o_LED_3 11 4 3 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_3_c 11 6 2 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_18_c 12 5 1 #SB_CARRY
set_location led_blink_inst.r_Count_4[22] 11 8 5 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO_0[19] 9 8 2 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNILPMK1[1] 7 7 1 #SB_LUT4
set_location led_blink_inst.r_Count_1[10] 7 8 7 #SB_DFF
set_location led_blink_inst.r_Count_4_RNO[11] 11 7 2 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[15] 12 4 6 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO_0[13] 12 4 4 #SB_LUT4
set_location led_blink_inst.r_Count_3[3] 12 3 2 #SB_DFF
set_location led_blink_inst.r_Count_3[18] 11 5 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_3_1_cry_22_c 12 5 5 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNIJCCE1[2] 12 7 4 #SB_LUT4
set_location led_blink_inst.r_Count_4[6] 12 6 2 #SB_DFF
set_location led_blink_inst.r_Count_2_RNI1EOR[18] 8 5 1 #SB_LUT4
set_location led_blink_inst.r_Count_2[4] 9 5 5 #SB_DFF
set_location led_blink_inst.r_Count_4[16] 12 7 0 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO_0[5] 12 3 4 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNIU40L1[23] 11 4 0 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[23] 9 8 6 #SB_LUT4
set_location led_blink_inst.r_Count_1[17] 7 9 2 #SB_DFF
set_location led_blink_inst.r_Count_4_RNO[16] 12 7 0 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[10] 11 4 4 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNIK2NG1[14] 11 4 1 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNI4SFC1[13] 11 5 3 #SB_LUT4
set_location led_blink_inst.r_Count_3[4] 12 3 3 #SB_DFF
set_location led_blink_inst.r_Count_3[13] 11 4 6 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_14_c 9 7 5 #SB_CARRY
set_location led_blink_inst.r_Count_2[23] 9 8 6 #SB_DFF
set_location led_blink_inst.un2_r_Count_4_1_cry_15_c 11 7 6 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO_0[16] 11 7 7 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO_0[8] 12 3 7 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[1] 9 5 0 #SB_LUT4
set_location led_blink_inst.r_Count_2[10] 8 6 6 #SB_DFF
set_location led_blink_inst.un2_r_Count_3_1_cry_15_c 12 4 6 #SB_CARRY
set_location led_blink_inst.r_Count_3[9] 12 4 0 #SB_DFF
set_location led_blink_inst.r_Count_3[21] 11 5 0 #SB_DFF
set_location led_blink_inst.r_Count_3[16] 12 4 7 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[18] 8 6 5 #SB_LUT4
set_location led_blink_inst.r_Count_2[9] 9 5 4 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO[6] 8 7 5 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[12] 7 8 6 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_11_c 8 8 2 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[1] 12 6 7 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO_0[9] 11 7 0 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNIEUOG1[12] 11 4 5 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[15] 8 8 6 #SB_LUT4
set_location led_blink_inst.r_Count_1[20] 7 8 2 #SB_DFF
set_location led_blink_inst.un2_r_Count_3_1_cry_21_c 12 5 4 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[1] 11 3 7 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO_0[16] 9 7 7 #SB_LUT4
set_location led_blink_inst.r_Count_2[15] 9 7 6 #SB_DFF
set_location led_blink_inst.r_Count_1[7] 8 7 6 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_22_c 8 9 5 #SB_CARRY
set_location led_blink_inst.un3_r_Count_1_1_cry_16_c 8 8 7 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_3_c 9 6 2 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[21] 11 8 4 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[15] 9 7 6 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[15] 7 7 7 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[4] 12 6 0 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO_0[12] 8 8 3 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_6_c 12 3 5 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_16_c 12 4 7 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[6] 12 3 5 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[18] 11 5 7 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_20_c 11 8 3 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO_0[4] 11 6 3 #SB_LUT4
set_location led_blink_inst.r_Count_4[5] 11 6 4 #SB_DFF
set_location led_blink_inst.r_Count_2[7] 9 6 6 #SB_DFF
set_location led_blink_inst.r_Count_1_RNIV59V3[10] 7 8 1 #SB_LUT4
set_location led_blink_inst.o_LED_1 7 7 4 #SB_DFF
set_location led_blink_inst.r_Count_4[20] 12 8 0 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO_0[21] 8 9 4 #SB_LUT4
set_location led_blink_inst.r_Count_1[12] 7 8 6 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[17] 11 5 1 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNI527P1[11] 11 3 1 #SB_LUT4
set_location led_blink_inst.r_Count_3[1] 11 3 7 #SB_DFF
set_location led_blink_inst.r_Count_2_RNI0SCA1[13] 9 5 1 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNIJ5RV[16] 7 6 0 #SB_LUT4
set_location led_blink_inst.o_LED_4 12 7 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_3_1_cry_19_c 12 5 2 #SB_CARRY
set_location led_blink_inst.r_Count_4[14] 11 7 5 #SB_DFF
set_location led_blink_inst.r_Count_3_RNO[9] 12 4 0 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[4] 9 5 5 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[18] 11 8 1 #SB_LUT4
set_location led_blink_inst.r_Count_3[11] 12 4 2 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location led_blink_inst.un2_r_Count_4_1_cry_5_c 11 6 4 #SB_CARRY
set_location led_blink_inst.r_Count_1_RNIOP0B[23] 7 8 3 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNIGBEE1[23] 12 7 2 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[4] 8 7 3 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[23] 8 9 7 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_18_c 8 9 1 #SB_CARRY
set_location led_blink_inst.r_Count_1_RNO_0[17] 8 9 0 #SB_LUT4
set_location led_blink_inst.r_Count_1[22] 8 9 5 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_20_c 9 8 3 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[3] 12 3 2 #SB_LUT4
set_location led_blink_inst.r_Count_2[17] 8 6 0 #SB_DFF
set_location led_blink_inst.r_Count_1[1] 8 6 1 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_10_c 8 8 1 #SB_CARRY
set_location led_blink_inst.r_Count_4[0] 12 6 6 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO[13] 9 7 4 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNICN8A1[14] 7 7 3 #SB_LUT4
set_location led_blink_inst.un2_r_Count_2_1_cry_4_c 9 6 3 #SB_CARRY
set_location led_blink_inst.r_Count_4[23] 11 8 6 #SB_DFF
set_location led_blink_inst.r_Count_1[11] 7 8 4 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_4_c 8 7 3 #SB_CARRY
set_location led_blink_inst.un3_r_Count_1_1_cry_19_c 8 9 2 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO_0[21] 12 5 4 #SB_LUT4
set_location led_blink_inst.r_Count_3[2] 12 3 1 #SB_DFF
set_location led_blink_inst.r_Count_2_RNIOJCA1[10] 8 5 5 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_10_c 12 4 1 #SB_CARRY
set_location led_blink_inst.r_Count_2[5] 9 6 4 #SB_DFF
set_location led_blink_inst.un3_r_Count_1_1_cry_3_c 8 7 2 #SB_CARRY
set_location led_blink_inst.r_Count_4[11] 11 7 2 #SB_DFF
set_location led_blink_inst.r_Count_1_RNO_0[19] 8 9 2 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_17_c 12 5 0 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_6_c 9 6 5 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[15] 11 7 6 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO_0[17] 12 5 0 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNIEFLF6[10] 11 4 2 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[18] 7 9 0 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_21_c 8 9 4 #SB_CARRY
set_location led_blink_inst.un2_r_Count_4_1_cry_1_c 11 6 0 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_20_c 12 5 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_1_c 9 6 0 #SB_CARRY
set_location led_blink_inst.r_Count_2_RNO_0[10] 9 7 1 #SB_LUT4
set_location led_blink_inst.un2_r_Count_4_1_cry_8_c 11 6 7 #SB_CARRY
set_location led_blink_inst.un2_r_Count_3_1_cry_3_c 12 3 2 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_17_c 9 8 0 #SB_CARRY
set_location led_blink_inst.r_Count_3[8] 11 3 2 #SB_DFF
set_location led_blink_inst.r_Count_3[20] 12 5 3 #SB_DFF
set_location led_blink_inst.r_Count_2_RNI3OOH1[21] 9 5 7 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[1] 8 6 1 #SB_LUT4
set_location led_blink_inst.un2_r_Count_2_1_cry_8_c 9 6 7 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNIVFIV[1] 12 7 6 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[23] 12 5 6 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNIVMBL[10] 7 8 0 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_4_c 12 3 3 #SB_CARRY
set_location led_blink_inst.un2_r_Count_2_1_cry_10_c 9 7 1 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO_0[12] 11 7 3 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO[0] 11 4 7 #SB_LUT4
set_location led_blink_inst.r_Count_2[14] 8 6 7 #SB_DFF
set_location led_blink_inst.r_Count_1[6] 8 7 5 #SB_DFF
set_location led_blink_inst.o_LED_4_RNO 12 7 7 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO[14] 8 6 7 #SB_LUT4
set_location led_blink_inst.r_Count_1_RNO[16] 8 8 7 #SB_LUT4
set_location led_blink_inst.un2_r_Count_2_1_cry_19_c 9 8 2 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO[5] 11 6 4 #SB_LUT4
set_location led_blink_inst.o_LED_2_RNO 9 4 7 #SB_LUT4
set_location led_blink_inst.un2_r_Count_3_1_cry_5_c 12 3 4 #SB_CARRY
set_location led_blink_inst.r_Count_3_RNO[19] 12 5 2 #SB_LUT4
set_location led_blink_inst.un3_r_Count_1_1_cry_17_c 8 9 0 #SB_CARRY
set_location led_blink_inst.r_Count_4_RNO_0[7] 11 6 6 #SB_LUT4
set_location led_blink_inst.r_Count_2_RNO_0[4] 9 6 3 #SB_LUT4
set_location led_blink_inst.r_Count_2[0] 9 5 6 #SB_DFF
set_location led_blink_inst.o_LED_2 9 4 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_2_1_cry_21_c 9 8 4 #SB_CARRY
set_location led_blink_inst.r_Count_4[12] 12 7 1 #SB_DFF
set_location led_blink_inst.r_Count_2_RNO_0[20] 9 8 3 #SB_LUT4
set_location led_blink_inst.r_Count_4_RNO[12] 12 7 1 #SB_LUT4
set_location led_blink_inst.r_Count_3_RNO_0[10] 12 4 1 #SB_LUT4
set_location led_blink_inst.r_Count_1[8] 8 7 7 #SB_DFF
set_location led_blink_inst.un2_r_Count_3_1_cry_7_c 12 3 6 #SB_CARRY
set_location led_blink_inst.r_Count_4[9] 12 6 3 #SB_DFF
set_io o_LED_3 59
set_io o_LED_1 56
set_io i_Clk 15
set_io o_LED_4 60
set_io o_LED_2 57
