set_location IN_MUX_bfv_5_13_0_ 5 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_12_0_ 8 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_14_0_ 8 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_9_0_ 5 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_10_0_ 5 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_11_0_ 5 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_13_0_ 4 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_14_0_ 4 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_15_0_ 4 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_16_0_ 4 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_14_0_ 2 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location r_Ticks9_THRU_LUT4_0 5 13 7 #SB_LUT4
set_location r_Switch_2_THRU_LUT4_0 5 12 3 #SB_LUT4
set_location r_Switch_1_THRU_LUT4_0 5 12 4 #SB_LUT4
set_location r_Ticks9_3_c 5 13 3 #SB_CARRY
set_location encoder2.r_Hex_Value_i[1] 1 14 1 #SB_DFF
set_location du1.r_Count_2_cry_2_c 5 9 1 #SB_CARRY
set_location du1.r_Count[12] 5 10 3 #SB_DFFSR
set_location encoder2.r_Hex_Value_2_6_0_.m14 2 16 5 #SB_LUT4
set_location du2.r_Count[0] 8 11 1 #SB_DFFSR
set_location r_Count_1_RNO[0] 1 13 6 #SB_LUT4
set_location r_Ticks_RNO[16] 4 15 0 #SB_LUT4
set_location r_Ticks[2] 4 13 2 #SB_DFFSR
set_location du2.r_Count_RNO[9] 8 13 0 #SB_LUT4
set_location du2.r_Count_RNO[15] 8 13 6 #SB_LUT4
set_location du1.r_Count_RNO[17] 5 11 0 #SB_LUT4
set_location du1.r_Count_2_cry_8_c 5 9 7 #SB_CARRY
set_location r_Ticks_RNO[5] 4 13 5 #SB_LUT4
set_location r_Ticks_RNO[22] 4 15 6 #SB_LUT4
set_location r_Count_1[2] 2 13 2 #SB_DFF
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[5] 2 16 0 #SB_LUT4
set_location r_Count_2[3] 2 14 3 #SB_DFF
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[3] 2 14 7 #SB_LUT4
set_location du1.r_Count_RNO[1] 5 11 7 #SB_LUT4
set_location du1.r_Count_2_cry_1_c 5 9 0 #SB_CARRY
set_location r_Ticks[11] 4 14 3 #SB_DFFSR
set_location du1.r_State_RNO_2 4 10 1 #SB_LUT4
set_location du1.r_State_RNIGILH2 4 9 4 #SB_LUT4
set_location du2.r_Count[5] 8 12 4 #SB_DFFSR
set_location un1_r_Count_2_1_cry_2_c 2 14 2 #SB_CARRY
set_location r_Count_1_RNO_0[3] 1 13 3 #SB_LUT4
set_location du1.r_Count[5] 5 9 4 #SB_DFFSR
set_location r_Ticks_RNO[19] 4 15 3 #SB_LUT4
set_location r_Ticks9_5_c 5 13 5 #SB_CARRY
set_location du1.r_Count_2_cry_14_c 5 10 5 #SB_CARRY
set_location encoder1.r_Hex_Value_i[1] 1 14 5 #SB_DFF
set_location du2.r_Count_RNO[10] 8 13 1 #SB_LUT4
set_location un1_r_Ticks_13_cry_18_c 4 15 2 #SB_CARRY
set_location r_Ticks[19] 4 15 3 #SB_DFFSR
set_location r_Ticks9_2_c 5 13 2 #SB_CARRY
set_location r_Count_1_RNO[2] 2 13 2 #SB_LUT4
set_location du2.r_Count_RNI0DIV[10] 7 13 3 #SB_LUT4
set_location du2.r_Count_2_cry_15_c 8 13 6 #SB_CARRY
set_location un1_r_Ticks_13_cry_0_c 4 13 0 #SB_CARRY
set_location r_Ticks_RNO[6] 4 13 6 #SB_LUT4
set_location r_Ticks_RNO[14] 4 14 6 #SB_LUT4
set_location r_Ticks9_0_c_RNO 5 14 6 #SB_LUT4
set_location encoder2.r_Hex_Value_i[6] 1 16 2 #SB_DFF
set_location du2.r_Count_2_cry_6_c 8 12 5 #SB_CARRY
set_location du1.r_Count_2_cry_10_c 5 10 1 #SB_CARRY
set_location un1_r_Ticks_13_cry_22_c 4 15 6 #SB_CARRY
set_location r_Ticks[4] 4 13 4 #SB_DFFSR
set_location r_Count_2[0] 2 14 0 #SB_DFF
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[4] 2 14 4 #SB_LUT4
set_location du1.r_Count_RNO[4] 5 9 3 #SB_LUT4
set_location du1.r_Count_RNO[15] 5 10 6 #SB_LUT4
set_location un1_r_Ticks_13_cry_8_c 4 14 0 #SB_CARRY
set_location r_Ticks[14] 4 14 6 #SB_DFFSR
set_location du2.r_Count_2_cry_1_c 8 12 0 #SB_CARRY
set_location du1.r_State_RNO_5 4 10 3 #SB_LUT4
set_location un1_r_Ticks_13_cry_1_c 4 13 1 #SB_CARRY
set_location r_Ticks_RNO[3] 4 13 3 #SB_LUT4
set_location r_Ticks_RNO[20] 4 15 4 #SB_LUT4
set_location r_Count_1[0] 1 13 6 #SB_DFF
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[3] 2 16 3 #SB_LUT4
set_location un1_r_Ticks_13_cry_23_c 4 15 7 #SB_CARRY
set_location du2.r_Count_2_cry_8_c 8 12 7 #SB_CARRY
set_location du1.r_Count_RNO[3] 5 9 2 #SB_LUT4
set_location r_Ticks[13] 4 14 5 #SB_DFFSR
set_location r_Ticks9_1_c_RNO 5 14 7 #SB_LUT4
set_location r_Count_2_RNO[3] 2 14 3 #SB_LUT4
set_location du2.r_Count_2_cry_10_c 8 13 1 #SB_CARRY
set_location du1.r_State_RNO_0 4 9 1 #SB_LUT4
set_location du1.r_State_RNITG1E 5 12 1 #SB_LUT4
set_location un1_r_Ticks_13_cry_15_c 4 14 7 #SB_CARRY
set_location r_Ticks[20] 4 15 4 #SB_DFFSR
set_location r_Ticks9_1_c 5 13 1 #SB_CARRY
set_location du2.r_Count_RNO[2] 8 12 1 #SB_LUT4
set_location du2.r_Count[11] 8 13 2 #SB_DFFSR
set_location un1_r_Ticks_13_cry_3_c 4 13 3 #SB_CARRY
set_location r_State_ns_1_0_.m1 5 12 5 #SB_LUT4
set_location r_Count_1_RNO_0[0] 1 13 0 #SB_LUT4
set_location encoder1.r_Hex_Value_2_6_0_.m26 1 13 7 #SB_LUT4
set_location du1.r_Count[0] 5 11 3 #SB_DFFSR
set_location un1_r_Ticks_13_cry_21_c 4 15 5 #SB_CARRY
set_location du2.r_State_RNI02RD3 6 13 2 #SB_LUT4
set_location du2.r_Count_2_cry_11_c 8 13 2 #SB_CARRY
set_location du1.r_Count_2_cry_15_c 5 10 6 #SB_CARRY
set_location du1.r_Count[11] 5 10 2 #SB_DFFSR
set_location un1_r_Ticks_13_cry_4_c 4 13 4 #SB_CARRY
set_location r_State[1] 5 12 6 #SB_DFF
set_location encoder1.r_Hex_Value_i[2] 2 14 5 #SB_DFF
set_location encoder1.r_Hex_Value_2_6_0_.m14 2 14 5 #SB_LUT4
set_location du2.r_Count_RNO[7] 8 12 6 #SB_LUT4
set_location du2.r_Count_RNO[13] 8 13 4 #SB_LUT4
set_location du2.r_Count[7] 8 12 6 #SB_DFFSR
set_location du2.r_Count_2_cry_2_c 8 12 1 #SB_CARRY
set_location du2.r_Count[14] 8 13 5 #SB_DFFSR
set_location r_Count_1_RNO[1] 2 13 0 #SB_LUT4
set_location un1_r_Ticks_13_cry_16_c 4 15 0 #SB_CARRY
set_location r_Ticks_RNO[17] 4 15 1 #SB_LUT4
set_location encoder2.r_Hex_Value_i[5] 2 16 0 #SB_DFF
set_location du2.r_State_RNO_3 7 12 1 #SB_LUT4
set_location du1.r_Count[16] 5 10 7 #SB_DFFSR
set_location un1_r_Ticks_13_cry_5_c 4 13 5 #SB_CARRY
set_location r_Ticks[1] 4 13 1 #SB_DFFSR
set_location encoder2.r_Hex_Value_2_6_0_.m10 1 14 1 #SB_LUT4
set_location du2.r_Count_RNO[8] 8 12 7 #SB_LUT4
set_location du2.r_Count_RNO[16] 8 13 7 #SB_LUT4
set_location du2.r_Count_2_cry_13_c 8 13 4 #SB_CARRY
set_location du1.r_Count_RNO[16] 5 10 7 #SB_LUT4
set_location du1.r_Count[1] 5 11 7 #SB_DFFSR
set_location r_Ticks9_4_c_RNO 5 14 3 #SB_LUT4
set_location r_Ticks_RNO[4] 4 13 4 #SB_LUT4
set_location r_Ticks_RNO[12] 4 14 4 #SB_LUT4
set_location r_Count_1[3] 1 13 4 #SB_DFF
set_location un1_r_Ticks_13_cry_19_c 4 15 3 #SB_CARRY
set_location r_Ticks[6] 4 13 6 #SB_DFFSR
set_location r_Ticks9_6_c_RNIKRL01 6 12 0 #SB_LUT4
set_location r_Count_2[2] 2 14 2 #SB_DFF
set_location du2.r_Count[9] 8 13 0 #SB_DFFSR
set_location du1.r_Count_RNO[6] 5 9 5 #SB_LUT4
set_location du1.r_Count_RNO[13] 5 10 4 #SB_LUT4
set_location du1.r_Count[8] 5 9 7 #SB_DFFSR
set_location du1.r_Count_2_cry_16_c 5 10 7 #SB_CARRY
set_location un1_r_Ticks_13_cry_7_c 4 13 7 #SB_CARRY
set_location r_Ticks[16] 4 15 0 #SB_DFFSR
set_location r_Ticks9_3_c_RNO 5 14 5 #SB_LUT4
set_location du2.r_Count_2_cry_7_c 8 12 6 #SB_CARRY
set_location du2.r_Count_2_cry_14_c 8 13 5 #SB_CARRY
set_location du1.r_State_RNO_3 4 9 0 #SB_LUT4
set_location du1.r_Count_2_cry_7_c 5 9 6 #SB_CARRY
set_location du1.r_Count_2_cry_11_c 5 10 2 #SB_CARRY
set_location r_Ticks_RNO[1] 4 13 1 #SB_LUT4
set_location un1_r_Ticks_13_cry_13_c 4 14 5 #SB_CARRY
set_location du1.r_Count[3] 5 9 2 #SB_DFFSR
set_location r_Count_2_RNO[1] 2 14 1 #SB_LUT4
set_location du1.r_Count_1_1_sqmuxa 2 13 7 #SB_LUT4
set_location du1.r_Count_111 2 13 6 #SB_LUT4
set_location un1_r_Count_1_1_cry_0_c 1 13 0 #SB_CARRY
set_location r_Ticks[9] 4 14 1 #SB_DFFSR
set_location r_Ticks[22] 4 15 6 #SB_DFFSR
set_location r_Ticks9_6_c_inv 5 13 6 #SB_LUT4
set_location du2.r_State 7 12 3 #SB_DFF
set_location du2.r_Count_RNO[0] 8 11 1 #SB_LUT4
set_location du2.r_Count[4] 8 12 3 #SB_DFFSR
set_location du2.r_Count_2_cry_9_c 8 13 0 #SB_CARRY
set_location du2.r_Count_2_cry_3_c 8 12 2 #SB_CARRY
set_location du2.r_Count_2_cry_16_c 8 13 7 #SB_CARRY
set_location du2.r_Count[13] 8 13 4 #SB_DFFSR
set_location un1_r_Ticks_13_cry_12_c 4 14 4 #SB_CARRY
set_location r_Count_1_RNO_0[2] 1 13 2 #SB_LUT4
set_location du2.r_Count_RNI2E7S1[4] 7 12 4 #SB_LUT4
set_location du2.r_Count_29 2 14 6 #SB_LUT4
set_location du1.r_Count_RNO[8] 5 9 7 #SB_LUT4
set_location du1.r_Count[6] 5 9 5 #SB_DFFSR
set_location encoder2.r_Hex_Value_i[0] 2 16 4 #SB_DFF
set_location du2.r_State_RNO_0 7 12 2 #SB_LUT4
set_location du1.r_Count_1_0_sqmuxa 2 13 1 #SB_LUT4
set_location du1.r_Count[13] 5 10 4 #SB_DFFSR
set_location du2.r_Count_RNO[5] 8 12 4 #SB_LUT4
set_location du2.r_Count_RNO[11] 8 13 2 #SB_LUT4
set_location du2.r_Count[16] 8 13 7 #SB_DFFSR
set_location du2.r_Count[1] 8 11 3 #SB_DFFSR
set_location un1_r_Ticks_13_cry_2_c 4 13 2 #SB_CARRY
set_location r_Count_1_RNO[3] 1 13 4 #SB_LUT4
set_location du1.r_State_RNO 4 9 6 #SB_LUT4
set_location du1.r_Count_2_cry_12_c 5 10 3 #SB_CARRY
set_location un1_r_Ticks_13_cry_10_c 4 14 2 #SB_CARRY
set_location r_Ticks_RNO[9] 4 14 1 #SB_LUT4
set_location r_Ticks_RNO[15] 4 14 7 #SB_LUT4
set_location du2.r_State_RNO_5 7 13 5 #SB_LUT4
set_location r_Ticks[3] 4 13 3 #SB_DFFSR
set_location du2.r_Count_RNO[14] 8 13 5 #SB_LUT4
set_location du1.r_Count_RNO[5] 5 9 4 #SB_LUT4
set_location du1.r_Count_RNO[14] 5 10 5 #SB_LUT4
set_location du1.r_Count_2_cry_3_c 5 9 2 #SB_CARRY
set_location un1_r_Ticks_13_cry_17_c 4 15 1 #SB_CARRY
set_location r_Ticks[15] 4 14 7 #SB_DFFSR
set_location r_Switch_1 5 12 4 #SB_DFF
set_location r_Ticks_RNO[23] 4 15 7 #SB_LUT4
set_location r_Ticks_RNO[2] 4 13 2 #SB_LUT4
set_location r_Ticks_RNO[10] 4 14 2 #SB_LUT4
set_location r_Ticks9_6_c_RNI6K4M2 2 13 3 #SB_LUT4
set_location r_Count_1[1] 2 13 0 #SB_DFF
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[4] 2 16 7 #SB_LUT4
set_location du2.r_Count[2] 8 12 1 #SB_DFFSR
set_location du1.r_Count_RNO[11] 5 10 2 #SB_LUT4
set_location du1.r_Count_RNO[0] 5 11 3 #SB_LUT4
set_location un1_r_Ticks_13_cry_9_c 4 14 1 #SB_CARRY
set_location r_Ticks[10] 4 14 2 #SB_DFFSR
set_location r_Count_2_RNO[2] 2 14 2 #SB_LUT4
set_location encoder2.r_Hex_Value_2_6_0_.m26 1 16 2 #SB_LUT4
set_location encoder1.r_Hex_Value_2_6_0_.m5 1 14 4 #SB_LUT4
set_location du1.r_State_RNO_1 4 10 7 #SB_LUT4
set_location du1.r_Count_2_cry_9_c 5 10 0 #SB_CARRY
set_location du1.r_Count_2_1_sqmuxa 2 13 5 #SB_LUT4
set_location du1.r_Count_RNIU1A11[4] 4 9 2 #SB_LUT4
set_location r_Ticks9_4_c 5 13 4 #SB_CARRY
set_location du1.r_Count[10] 5 10 1 #SB_DFFSR
set_location un1_r_Ticks_13_cry_14_c 4 14 6 #SB_CARRY
set_location r_Ticks[24] 4 16 0 #SB_DFFSR
set_location encoder1.r_Hex_Value_i[5] 1 13 5 #SB_DFF
set_location du2.r_Count_RNO[6] 8 12 5 #SB_LUT4
set_location du2.r_Count_RNI6KT2[17] 7 13 2 #SB_LUT4
set_location du2.r_Count[6] 8 12 5 #SB_DFFSR
set_location du2.r_Count[15] 8 13 6 #SB_DFFSR
set_location du1.r_State 4 9 6 #SB_DFF
set_location du2.r_Count_2_cry_4_c 8 12 3 #SB_CARRY
set_location du1.r_Count[4] 5 9 3 #SB_DFFSR
set_location r_Ticks_RNO[18] 4 15 2 #SB_LUT4
set_location encoder2.r_Hex_Value_i[2] 2 16 5 #SB_DFF
set_location du2.r_State_RNO_2 7 13 1 #SB_LUT4
set_location du1.r_Count_RNISUUL[10] 4 10 4 #SB_LUT4
set_location du1.r_Count[15] 5 10 6 #SB_DFFSR
set_location r_Ticks[0] 4 13 0 #SB_DFFSR
set_location encoder1.r_Hex_Value_2_6_0_.m10 1 14 5 #SB_LUT4
set_location du2.r_Count_RNO[17] 8 14 0 #SB_LUT4
set_location du2.r_Count[3] 8 12 2 #SB_DFFSR
set_location un1_r_Count_2_1_cry_0_c 2 14 0 #SB_CARRY
set_location r_Ticks[18] 4 15 2 #SB_DFFSR
set_location r_Switch_2 5 12 3 #SB_DFF
set_location du2.r_State_RNO 7 12 3 #SB_LUT4
set_location du1.r_Count_2_cry_6_c 5 9 5 #SB_CARRY
set_location r_Ticks_RNO[7] 4 13 7 #SB_LUT4
set_location r_Ticks_RNO[24] 4 16 0 #SB_LUT4
set_location r_Ticks_RNO[13] 4 14 5 #SB_LUT4
set_location un1_r_Count_1_1_cry_2_c 1 13 2 #SB_CARRY
set_location r_Ticks[5] 4 13 5 #SB_DFFSR
set_location r_Count_2[1] 2 14 1 #SB_DFF
set_location encoder2.r_Hex_Value_2_6_0_.m5 2 16 4 #SB_LUT4
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[5] 1 13 5 #SB_LUT4
set_location du2.r_Count[8] 8 12 7 #SB_DFFSR
set_location du1.r_Count_RNO[7] 5 9 6 #SB_LUT4
set_location du1.r_Count_RNO[12] 5 10 3 #SB_LUT4
set_location du1.r_Count[9] 5 10 0 #SB_DFFSR
set_location r_Ticks[17] 4 15 1 #SB_DFFSR
set_location du1.r_State_RNO_4 4 10 6 #SB_LUT4
set_location r_Ticks_RNO[21] 4 15 5 #SB_LUT4
set_location r_Ticks_RNO[0] 4 13 0 #SB_LUT4
set_location r_Ticks9_0_c 5 13 0 #SB_CARRY
set_location r_State_ns_1_0_.m5 5 12 6 #SB_LUT4
set_location du1.r_Count_RNO[2] 5 9 1 #SB_LUT4
set_location un1_r_Ticks_13_cry_20_c 4 15 4 #SB_CARRY
set_location r_Ticks[12] 4 14 4 #SB_DFFSR
set_location r_Count_2_RNO[0] 2 14 0 #SB_LUT4
set_location du1.r_Ticks_1_sqmuxa 4 12 1 #SB_LUT4
set_location r_Ticks[8] 4 14 0 #SB_DFFSR
set_location r_Ticks[21] 4 15 5 #SB_DFFSR
set_location encoder1.r_Hex_Value_i[6] 1 13 7 #SB_DFF
set_location encoder1.r_Hex_Value_i[0] 1 14 4 #SB_DFF
set_location du2.r_Count_RNO[3] 8 12 2 #SB_LUT4
set_location du2.r_Count_RNIVE8T2[12] 7 13 4 #SB_LUT4
set_location du2.r_Count[10] 8 13 1 #SB_DFFSR
set_location du1.r_Count_RNI24KA[17] 4 10 5 #SB_LUT4
set_location r_State_ns_1_0_.m2 5 12 2 #SB_LUT4
set_location r_Count_1_RNO_0[1] 1 13 1 #SB_LUT4
set_location du1.r_Count_RNO[9] 5 10 0 #SB_LUT4
set_location du1.r_Count_RNILSIS1[12] 4 9 3 #SB_LUT4
set_location du1.r_Count[7] 5 9 6 #SB_DFFSR
set_location du1.r_Count_2_cry_5_c 5 9 4 #SB_CARRY
set_location du1.r_Count_2_cry_13_c 5 10 4 #SB_CARRY
set_location un1_r_Count_1_1_cry_1_c 1 13 1 #SB_CARRY
set_location r_State[0] 5 12 2 #SB_DFF
set_location encoder1.r_Hex_Value_i[3] 2 14 7 #SB_DFF
set_location du2.r_Count_RNO[4] 8 12 3 #SB_LUT4
set_location du2.r_Count_RNO[12] 8 13 3 #SB_LUT4
set_location du2.r_Count_2_cry_12_c 8 13 3 #SB_CARRY
set_location du2.r_Count[17] 8 14 0 #SB_DFFSR
set_location r_Ticks_RNO[8] 4 14 0 #SB_LUT4
set_location encoder2.r_Hex_Value_i[4] 2 16 7 #SB_DFF
set_location du2.r_State_RNO_4 7 12 5 #SB_LUT4
set_location du1.r_Count[17] 5 11 0 #SB_DFFSR
set_location du2.r_Count_2_cry_5_c 8 12 4 #SB_CARRY
set_location un1_r_Ticks_13_cry_6_c 4 13 6 #SB_CARRY
set_location r_Ticks9_5_c_RNO 4 12 6 #SB_LUT4
set_location r_Ticks_RNO[11] 4 14 3 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location un1_r_Count_2_1_cry_1_c 2 14 1 #SB_CARRY
set_location r_Ticks[7] 4 13 7 #SB_DFFSR
set_location r_Ticks9_6_c 5 13 6 #SB_CARRY
set_location du1.r_Count_RNO[10] 5 10 1 #SB_LUT4
set_location du1.r_Count[2] 5 9 1 #SB_DFFSR
set_location r_Ticks9_2_c_RNO 5 14 0 #SB_LUT4
set_location r_Ticks[23] 4 15 7 #SB_DFFSR
set_location encoder1.r_Hex_Value_i[4] 2 14 4 #SB_DFF
set_location du2.r_Count_RNO[1] 8 11 3 #SB_LUT4
set_location du2.r_Count[12] 8 13 3 #SB_DFFSR
set_location un1_r_Ticks_13_cry_11_c 4 14 3 #SB_CARRY
set_location encoder2.r_Hex_Value_i[3] 2 16 3 #SB_DFF
set_location du2.r_State_RNO_1 7 13 6 #SB_LUT4
set_location du1.r_Count[14] 5 10 5 #SB_DFFSR
set_location du1.r_Count_2_cry_4_c 5 9 3 #SB_CARRY
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io i_Switch_2 51
set_io o_Segment2_E 94
set_io o_Segment1_A 3
