set_location du.r_Count_RNIB14B2[12] 1 6 0 # SB_LUT4 (LogicCell: du.r_Count_RNIB14B2[12]_LC_0)
set_location du.r_Count_RNIO6TV[8] 1 6 3 # SB_LUT4 (LogicCell: du.r_Count_RNIO6TV[8]_LC_1)
set_location du.r_Count_RNIQBJM[4] 1 6 2 # SB_LUT4 (LogicCell: du.r_Count_RNIQBJM[4]_LC_2)
set_location du.r_Count_RNIU9791[17] 1 6 4 # SB_LUT4 (LogicCell: du.r_Count_RNIU9791[17]_LC_3)
set_location du.r_Count_RNO[0] 1 5 1 # SB_LUT4 (LogicCell: du.r_Count[0]_LC_4)
set_location du.r_Count[0] 1 5 1 # SB_DFFSR (LogicCell: du.r_Count[0]_LC_4)
set_location du.r_Count_RNO[1] 1 5 0 # SB_LUT4 (LogicCell: du.r_Count[1]_LC_5)
set_location du.r_Count[1] 1 5 0 # SB_DFFSR (LogicCell: du.r_Count[1]_LC_5)
set_location du.r_Count_RNO[10] 2 6 1 # SB_LUT4 (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count[10] 2 6 1 # SB_DFFSR (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count_2_cry_10_c 2 6 1 # SB_CARRY (LogicCell: du.r_Count[10]_LC_6)
set_location du.r_Count_RNO[11] 2 6 2 # SB_LUT4 (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count[11] 2 6 2 # SB_DFFSR (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count_2_cry_11_c 2 6 2 # SB_CARRY (LogicCell: du.r_Count[11]_LC_7)
set_location du.r_Count_RNO[12] 2 6 3 # SB_LUT4 (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count[12] 2 6 3 # SB_DFFSR (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count_2_cry_12_c 2 6 3 # SB_CARRY (LogicCell: du.r_Count[12]_LC_8)
set_location du.r_Count_RNO[13] 2 6 4 # SB_LUT4 (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count[13] 2 6 4 # SB_DFFSR (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count_2_cry_13_c 2 6 4 # SB_CARRY (LogicCell: du.r_Count[13]_LC_9)
set_location du.r_Count_RNO[14] 2 6 5 # SB_LUT4 (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count[14] 2 6 5 # SB_DFFSR (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count_2_cry_14_c 2 6 5 # SB_CARRY (LogicCell: du.r_Count[14]_LC_10)
set_location du.r_Count_RNO[15] 2 6 6 # SB_LUT4 (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count[15] 2 6 6 # SB_DFFSR (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count_2_cry_15_c 2 6 6 # SB_CARRY (LogicCell: du.r_Count[15]_LC_11)
set_location du.r_Count_RNO[16] 2 6 7 # SB_LUT4 (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count[16] 2 6 7 # SB_DFFSR (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count_2_cry_16_c 2 6 7 # SB_CARRY (LogicCell: du.r_Count[16]_LC_12)
set_location du.r_Count_RNO[17] 2 7 0 # SB_LUT4 (LogicCell: du.r_Count[17]_LC_13)
set_location du.r_Count[17] 2 7 0 # SB_DFFSR (LogicCell: du.r_Count[17]_LC_13)
set_location du.r_Count_RNO[2] 2 5 1 # SB_LUT4 (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count[2] 2 5 1 # SB_DFFSR (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count_2_cry_2_c 2 5 1 # SB_CARRY (LogicCell: du.r_Count[2]_LC_14)
set_location du.r_Count_RNO[3] 2 5 2 # SB_LUT4 (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count[3] 2 5 2 # SB_DFFSR (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count_2_cry_3_c 2 5 2 # SB_CARRY (LogicCell: du.r_Count[3]_LC_15)
set_location du.r_Count_RNO[4] 2 5 3 # SB_LUT4 (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count[4] 2 5 3 # SB_DFFSR (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count_2_cry_4_c 2 5 3 # SB_CARRY (LogicCell: du.r_Count[4]_LC_16)
set_location du.r_Count_RNO[5] 2 5 4 # SB_LUT4 (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count[5] 2 5 4 # SB_DFFSR (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count_2_cry_5_c 2 5 4 # SB_CARRY (LogicCell: du.r_Count[5]_LC_17)
set_location du.r_Count_RNO[6] 2 5 5 # SB_LUT4 (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count[6] 2 5 5 # SB_DFFSR (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count_2_cry_6_c 2 5 5 # SB_CARRY (LogicCell: du.r_Count[6]_LC_18)
set_location du.r_Count_RNO[7] 2 5 6 # SB_LUT4 (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count[7] 2 5 6 # SB_DFFSR (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count_2_cry_7_c 2 5 6 # SB_CARRY (LogicCell: du.r_Count[7]_LC_19)
set_location du.r_Count_RNO[8] 2 5 7 # SB_LUT4 (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count[8] 2 5 7 # SB_DFFSR (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count_2_cry_8_c 2 5 7 # SB_CARRY (LogicCell: du.r_Count[8]_LC_20)
set_location du.r_Count_RNO[9] 2 6 0 # SB_LUT4 (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_Count[9] 2 6 0 # SB_DFFSR (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_Count_2_cry_9_c 2 6 0 # SB_CARRY (LogicCell: du.r_Count[9]_LC_21)
set_location du.r_State_RNIHQU54 1 6 1 # SB_LUT4 (LogicCell: du.r_State_RNIHQU54_LC_22)
set_location du.r_State_RNO 1 7 1 # SB_LUT4 (LogicCell: du.r_State_LC_23)
set_location du.r_State 1 7 1 # SB_DFF (LogicCell: du.r_State_LC_23)
set_location du.r_State_RNO_0 1 7 0 # SB_LUT4 (LogicCell: du.r_State_RNO_0_LC_24)
set_location du.r_State_RNO_1 1 7 5 # SB_LUT4 (LogicCell: du.r_State_RNO_1_LC_25)
set_location du.r_State_RNO_2 1 6 7 # SB_LUT4 (LogicCell: du.r_State_RNO_2_LC_26)
set_location du.r_State_RNO_3 1 6 5 # SB_LUT4 (LogicCell: du.r_State_RNO_3_LC_27)
set_location du.r_State_RNO_4 1 7 4 # SB_LUT4 (LogicCell: du.r_State_RNO_4_LC_28)
set_location du.r_State_RNO_5 1 6 6 # SB_LUT4 (LogicCell: du.r_State_RNO_5_LC_29)
set_location encoder.r_Hex_Value_2_6_0_.m10 1 12 3 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[1]_LC_30)
set_location encoder.r_Hex_Value_i[1] 1 12 3 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[1]_LC_30)
set_location encoder.r_Hex_Value_2_6_0_.m14 1 16 2 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[2]_LC_31)
set_location encoder.r_Hex_Value_i[2] 1 16 2 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[2]_LC_31)
set_location encoder.r_Hex_Value_2_6_0_.m26 1 16 5 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[6]_LC_32)
set_location encoder.r_Hex_Value_i[6] 1 16 5 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[6]_LC_32)
set_location encoder.r_Hex_Value_2_6_0_.m5 1 16 6 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[0]_LC_33)
set_location encoder.r_Hex_Value_i[0] 1 16 6 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[0]_LC_33)
set_location encoder.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[3] 1 16 0 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[3]_LC_34)
set_location encoder.r_Hex_Value_i[3] 1 16 0 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[3]_LC_34)
set_location encoder.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[4] 1 16 4 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[4]_LC_35)
set_location encoder.r_Hex_Value_i[4] 1 16 4 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[4]_LC_35)
set_location encoder.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[5] 1 16 7 # SB_LUT4 (LogicCell: encoder.r_Hex_Value_i[5]_LC_36)
set_location encoder.r_Hex_Value_i[5] 1 16 7 # SB_DFF (LogicCell: encoder.r_Hex_Value_i[5]_LC_36)
set_location r_Count_RNO[0] 1 9 0 # SB_LUT4 (LogicCell: r_Count[0]_LC_37)
set_location r_Count[0] 1 9 0 # SB_DFF (LogicCell: r_Count[0]_LC_37)
set_location r_Count_4_cry_0_c 1 9 0 # SB_CARRY (LogicCell: r_Count[0]_LC_37)
set_location r_Count_RNO[1] 1 9 1 # SB_LUT4 (LogicCell: r_Count[1]_LC_38)
set_location r_Count[1] 1 9 1 # SB_DFF (LogicCell: r_Count[1]_LC_38)
set_location r_Count_4_cry_1_c 1 9 1 # SB_CARRY (LogicCell: r_Count[1]_LC_38)
set_location r_Count_RNO[2] 1 9 2 # SB_LUT4 (LogicCell: r_Count[2]_LC_39)
set_location r_Count[2] 1 9 2 # SB_DFF (LogicCell: r_Count[2]_LC_39)
set_location r_Count_4_cry_2_c 1 9 2 # SB_CARRY (LogicCell: r_Count[2]_LC_39)
set_location r_Count_RNO[3] 1 9 3 # SB_LUT4 (LogicCell: r_Count[3]_LC_40)
set_location r_Count[3] 1 9 3 # SB_DFF (LogicCell: r_Count[3]_LC_40)
set_location r_Switch_1_RNICE6L 1 8 3 # SB_LUT4 (LogicCell: r_Switch_1_RNICE6L_LC_41)
set_location r_Switch_1_THRU_LUT4_0 1 8 2 # SB_LUT4 (LogicCell: r_Switch_1_LC_42)
set_location r_Switch_1 1 8 2 # SB_DFF (LogicCell: r_Switch_1_LC_42)
set_location du.r_Count_2_cry_1_c 2 5 0 # SB_CARRY (LogicCell: du.r_Count_2_cry_1_c_LC_43)
set_location GND -1 -1 -1 # GND
set_io du.r_State_RNIHQU54_0 0 8 1 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io o_Segment2_A_obuf 1 17 1 # ICE_IO
set_io o_Segment2_B_obuf 2 17 1 # ICE_IO
set_io o_Segment2_C_obuf 3 17 1 # ICE_IO
set_io o_Segment2_D_obuf 4 17 1 # ICE_IO
set_io o_Segment2_E_obuf 5 17 0 # ICE_IO
set_io o_Segment2_F_obuf 0 12 0 # ICE_IO
set_io o_Segment2_G_obuf 4 17 0 # ICE_IO
