ble_pack r_LED_1_LC_9_6_0 { r_LED_1_RNO, r_LED_1 }
ble_pack r_Switch_1_LC_9_6_1 { r_Switch_1_THRU_LUT4_0, r_Switch_1 }
clb_pack LT_9_6 { r_LED_1_LC_9_6_0, r_Switch_1_LC_9_6_1 }
set_location LT_9_6 9 6
set_io o_LED_1 56
set_io i_Switch_1 53
set_io i_Clk 15
