set_location du1.r_Count_111 2 13 6 # SB_LUT4 (LogicCell: du1.r_Count_111_LC_0)
set_location du1.r_Count_1_0_sqmuxa 2 13 1 # SB_LUT4 (LogicCell: du1.r_Count_1_0_sqmuxa_LC_1)
set_location du1.r_Count_1_1_sqmuxa 2 13 7 # SB_LUT4 (LogicCell: du1.r_Count_1_1_sqmuxa_LC_2)
set_location du1.r_Count_2_1_sqmuxa 2 13 5 # SB_LUT4 (LogicCell: du1.r_Count_2_1_sqmuxa_LC_3)
set_location du1.r_Count_RNI24KA[17] 4 10 5 # SB_LUT4 (LogicCell: du1.r_Count_RNI24KA[17]_LC_4)
set_location du1.r_Count_RNILSIS1[12] 4 9 3 # SB_LUT4 (LogicCell: du1.r_Count_RNILSIS1[12]_LC_5)
set_location du1.r_Count_RNISUUL[10] 4 10 4 # SB_LUT4 (LogicCell: du1.r_Count_RNISUUL[10]_LC_6)
set_location du1.r_Count_RNIU1A11[4] 4 9 2 # SB_LUT4 (LogicCell: du1.r_Count_RNIU1A11[4]_LC_7)
set_location du1.r_Count_RNO[0] 5 11 3 # SB_LUT4 (LogicCell: du1.r_Count[0]_LC_8)
set_location du1.r_Count[0] 5 11 3 # SB_DFFSR (LogicCell: du1.r_Count[0]_LC_8)
set_location du1.r_Count_RNO[1] 5 11 7 # SB_LUT4 (LogicCell: du1.r_Count[1]_LC_9)
set_location du1.r_Count[1] 5 11 7 # SB_DFFSR (LogicCell: du1.r_Count[1]_LC_9)
set_location du1.r_Count_RNO[10] 5 10 1 # SB_LUT4 (LogicCell: du1.r_Count[10]_LC_10)
set_location du1.r_Count[10] 5 10 1 # SB_DFFSR (LogicCell: du1.r_Count[10]_LC_10)
set_location du1.r_Count_2_cry_10_c 5 10 1 # SB_CARRY (LogicCell: du1.r_Count[10]_LC_10)
set_location du1.r_Count_RNO[11] 5 10 2 # SB_LUT4 (LogicCell: du1.r_Count[11]_LC_11)
set_location du1.r_Count[11] 5 10 2 # SB_DFFSR (LogicCell: du1.r_Count[11]_LC_11)
set_location du1.r_Count_2_cry_11_c 5 10 2 # SB_CARRY (LogicCell: du1.r_Count[11]_LC_11)
set_location du1.r_Count_RNO[12] 5 10 3 # SB_LUT4 (LogicCell: du1.r_Count[12]_LC_12)
set_location du1.r_Count[12] 5 10 3 # SB_DFFSR (LogicCell: du1.r_Count[12]_LC_12)
set_location du1.r_Count_2_cry_12_c 5 10 3 # SB_CARRY (LogicCell: du1.r_Count[12]_LC_12)
set_location du1.r_Count_RNO[13] 5 10 4 # SB_LUT4 (LogicCell: du1.r_Count[13]_LC_13)
set_location du1.r_Count[13] 5 10 4 # SB_DFFSR (LogicCell: du1.r_Count[13]_LC_13)
set_location du1.r_Count_2_cry_13_c 5 10 4 # SB_CARRY (LogicCell: du1.r_Count[13]_LC_13)
set_location du1.r_Count_RNO[14] 5 10 5 # SB_LUT4 (LogicCell: du1.r_Count[14]_LC_14)
set_location du1.r_Count[14] 5 10 5 # SB_DFFSR (LogicCell: du1.r_Count[14]_LC_14)
set_location du1.r_Count_2_cry_14_c 5 10 5 # SB_CARRY (LogicCell: du1.r_Count[14]_LC_14)
set_location du1.r_Count_RNO[15] 5 10 6 # SB_LUT4 (LogicCell: du1.r_Count[15]_LC_15)
set_location du1.r_Count[15] 5 10 6 # SB_DFFSR (LogicCell: du1.r_Count[15]_LC_15)
set_location du1.r_Count_2_cry_15_c 5 10 6 # SB_CARRY (LogicCell: du1.r_Count[15]_LC_15)
set_location du1.r_Count_RNO[16] 5 10 7 # SB_LUT4 (LogicCell: du1.r_Count[16]_LC_16)
set_location du1.r_Count[16] 5 10 7 # SB_DFFSR (LogicCell: du1.r_Count[16]_LC_16)
set_location du1.r_Count_2_cry_16_c 5 10 7 # SB_CARRY (LogicCell: du1.r_Count[16]_LC_16)
set_location du1.r_Count_RNO[17] 5 11 0 # SB_LUT4 (LogicCell: du1.r_Count[17]_LC_17)
set_location du1.r_Count[17] 5 11 0 # SB_DFFSR (LogicCell: du1.r_Count[17]_LC_17)
set_location du1.r_Count_RNO[2] 5 9 1 # SB_LUT4 (LogicCell: du1.r_Count[2]_LC_18)
set_location du1.r_Count[2] 5 9 1 # SB_DFFSR (LogicCell: du1.r_Count[2]_LC_18)
set_location du1.r_Count_2_cry_2_c 5 9 1 # SB_CARRY (LogicCell: du1.r_Count[2]_LC_18)
set_location du1.r_Count_RNO[3] 5 9 2 # SB_LUT4 (LogicCell: du1.r_Count[3]_LC_19)
set_location du1.r_Count[3] 5 9 2 # SB_DFFSR (LogicCell: du1.r_Count[3]_LC_19)
set_location du1.r_Count_2_cry_3_c 5 9 2 # SB_CARRY (LogicCell: du1.r_Count[3]_LC_19)
set_location du1.r_Count_RNO[4] 5 9 3 # SB_LUT4 (LogicCell: du1.r_Count[4]_LC_20)
set_location du1.r_Count[4] 5 9 3 # SB_DFFSR (LogicCell: du1.r_Count[4]_LC_20)
set_location du1.r_Count_2_cry_4_c 5 9 3 # SB_CARRY (LogicCell: du1.r_Count[4]_LC_20)
set_location du1.r_Count_RNO[5] 5 9 4 # SB_LUT4 (LogicCell: du1.r_Count[5]_LC_21)
set_location du1.r_Count[5] 5 9 4 # SB_DFFSR (LogicCell: du1.r_Count[5]_LC_21)
set_location du1.r_Count_2_cry_5_c 5 9 4 # SB_CARRY (LogicCell: du1.r_Count[5]_LC_21)
set_location du1.r_Count_RNO[6] 5 9 5 # SB_LUT4 (LogicCell: du1.r_Count[6]_LC_22)
set_location du1.r_Count[6] 5 9 5 # SB_DFFSR (LogicCell: du1.r_Count[6]_LC_22)
set_location du1.r_Count_2_cry_6_c 5 9 5 # SB_CARRY (LogicCell: du1.r_Count[6]_LC_22)
set_location du1.r_Count_RNO[7] 5 9 6 # SB_LUT4 (LogicCell: du1.r_Count[7]_LC_23)
set_location du1.r_Count[7] 5 9 6 # SB_DFFSR (LogicCell: du1.r_Count[7]_LC_23)
set_location du1.r_Count_2_cry_7_c 5 9 6 # SB_CARRY (LogicCell: du1.r_Count[7]_LC_23)
set_location du1.r_Count_RNO[8] 5 9 7 # SB_LUT4 (LogicCell: du1.r_Count[8]_LC_24)
set_location du1.r_Count[8] 5 9 7 # SB_DFFSR (LogicCell: du1.r_Count[8]_LC_24)
set_location du1.r_Count_2_cry_8_c 5 9 7 # SB_CARRY (LogicCell: du1.r_Count[8]_LC_24)
set_location du1.r_Count_RNO[9] 5 10 0 # SB_LUT4 (LogicCell: du1.r_Count[9]_LC_25)
set_location du1.r_Count[9] 5 10 0 # SB_DFFSR (LogicCell: du1.r_Count[9]_LC_25)
set_location du1.r_Count_2_cry_9_c 5 10 0 # SB_CARRY (LogicCell: du1.r_Count[9]_LC_25)
set_location du1.r_State_RNIGILH2 4 9 4 # SB_LUT4 (LogicCell: du1.r_State_RNIGILH2_LC_26)
set_location du1.r_State_RNITG1E 5 12 1 # SB_LUT4 (LogicCell: du1.r_State_RNITG1E_LC_27)
set_location du1.r_State_RNO 4 9 6 # SB_LUT4 (LogicCell: du1.r_State_LC_28)
set_location du1.r_State 4 9 6 # SB_DFF (LogicCell: du1.r_State_LC_28)
set_location du1.r_State_RNO_0 4 9 1 # SB_LUT4 (LogicCell: du1.r_State_RNO_0_LC_29)
set_location du1.r_State_RNO_1 4 10 7 # SB_LUT4 (LogicCell: du1.r_State_RNO_1_LC_30)
set_location du1.r_State_RNO_2 4 10 1 # SB_LUT4 (LogicCell: du1.r_State_RNO_2_LC_31)
set_location du1.r_State_RNO_3 4 9 0 # SB_LUT4 (LogicCell: du1.r_State_RNO_3_LC_32)
set_location du1.r_State_RNO_4 4 10 6 # SB_LUT4 (LogicCell: du1.r_State_RNO_4_LC_33)
set_location du1.r_State_RNO_5 4 10 3 # SB_LUT4 (LogicCell: du1.r_State_RNO_5_LC_34)
set_location du1.r_Ticks_1_sqmuxa 4 12 1 # SB_LUT4 (LogicCell: du1.r_Ticks_1_sqmuxa_LC_35)
set_location du2.r_Count_29 2 14 6 # SB_LUT4 (LogicCell: du2.r_Count_29_LC_36)
set_location du2.r_Count_RNI0DIV[10] 7 13 3 # SB_LUT4 (LogicCell: du2.r_Count_RNI0DIV[10]_LC_37)
set_location du2.r_Count_RNI2E7S1[4] 7 12 4 # SB_LUT4 (LogicCell: du2.r_Count_RNI2E7S1[4]_LC_38)
set_location du2.r_Count_RNI6KT2[17] 7 13 2 # SB_LUT4 (LogicCell: du2.r_Count_RNI6KT2[17]_LC_39)
set_location du2.r_Count_RNIVE8T2[12] 7 13 4 # SB_LUT4 (LogicCell: du2.r_Count_RNIVE8T2[12]_LC_40)
set_location du2.r_Count_RNO[0] 8 11 1 # SB_LUT4 (LogicCell: du2.r_Count[0]_LC_41)
set_location du2.r_Count[0] 8 11 1 # SB_DFFSR (LogicCell: du2.r_Count[0]_LC_41)
set_location du2.r_Count_RNO[1] 8 11 3 # SB_LUT4 (LogicCell: du2.r_Count[1]_LC_42)
set_location du2.r_Count[1] 8 11 3 # SB_DFFSR (LogicCell: du2.r_Count[1]_LC_42)
set_location du2.r_Count_RNO[10] 8 13 1 # SB_LUT4 (LogicCell: du2.r_Count[10]_LC_43)
set_location du2.r_Count[10] 8 13 1 # SB_DFFSR (LogicCell: du2.r_Count[10]_LC_43)
set_location du2.r_Count_2_cry_10_c 8 13 1 # SB_CARRY (LogicCell: du2.r_Count[10]_LC_43)
set_location du2.r_Count_RNO[11] 8 13 2 # SB_LUT4 (LogicCell: du2.r_Count[11]_LC_44)
set_location du2.r_Count[11] 8 13 2 # SB_DFFSR (LogicCell: du2.r_Count[11]_LC_44)
set_location du2.r_Count_2_cry_11_c 8 13 2 # SB_CARRY (LogicCell: du2.r_Count[11]_LC_44)
set_location du2.r_Count_RNO[12] 8 13 3 # SB_LUT4 (LogicCell: du2.r_Count[12]_LC_45)
set_location du2.r_Count[12] 8 13 3 # SB_DFFSR (LogicCell: du2.r_Count[12]_LC_45)
set_location du2.r_Count_2_cry_12_c 8 13 3 # SB_CARRY (LogicCell: du2.r_Count[12]_LC_45)
set_location du2.r_Count_RNO[13] 8 13 4 # SB_LUT4 (LogicCell: du2.r_Count[13]_LC_46)
set_location du2.r_Count[13] 8 13 4 # SB_DFFSR (LogicCell: du2.r_Count[13]_LC_46)
set_location du2.r_Count_2_cry_13_c 8 13 4 # SB_CARRY (LogicCell: du2.r_Count[13]_LC_46)
set_location du2.r_Count_RNO[14] 8 13 5 # SB_LUT4 (LogicCell: du2.r_Count[14]_LC_47)
set_location du2.r_Count[14] 8 13 5 # SB_DFFSR (LogicCell: du2.r_Count[14]_LC_47)
set_location du2.r_Count_2_cry_14_c 8 13 5 # SB_CARRY (LogicCell: du2.r_Count[14]_LC_47)
set_location du2.r_Count_RNO[15] 8 13 6 # SB_LUT4 (LogicCell: du2.r_Count[15]_LC_48)
set_location du2.r_Count[15] 8 13 6 # SB_DFFSR (LogicCell: du2.r_Count[15]_LC_48)
set_location du2.r_Count_2_cry_15_c 8 13 6 # SB_CARRY (LogicCell: du2.r_Count[15]_LC_48)
set_location du2.r_Count_RNO[16] 8 13 7 # SB_LUT4 (LogicCell: du2.r_Count[16]_LC_49)
set_location du2.r_Count[16] 8 13 7 # SB_DFFSR (LogicCell: du2.r_Count[16]_LC_49)
set_location du2.r_Count_2_cry_16_c 8 13 7 # SB_CARRY (LogicCell: du2.r_Count[16]_LC_49)
set_location du2.r_Count_RNO[17] 8 14 0 # SB_LUT4 (LogicCell: du2.r_Count[17]_LC_50)
set_location du2.r_Count[17] 8 14 0 # SB_DFFSR (LogicCell: du2.r_Count[17]_LC_50)
set_location du2.r_Count_RNO[2] 8 12 1 # SB_LUT4 (LogicCell: du2.r_Count[2]_LC_51)
set_location du2.r_Count[2] 8 12 1 # SB_DFFSR (LogicCell: du2.r_Count[2]_LC_51)
set_location du2.r_Count_2_cry_2_c 8 12 1 # SB_CARRY (LogicCell: du2.r_Count[2]_LC_51)
set_location du2.r_Count_RNO[3] 8 12 2 # SB_LUT4 (LogicCell: du2.r_Count[3]_LC_52)
set_location du2.r_Count[3] 8 12 2 # SB_DFFSR (LogicCell: du2.r_Count[3]_LC_52)
set_location du2.r_Count_2_cry_3_c 8 12 2 # SB_CARRY (LogicCell: du2.r_Count[3]_LC_52)
set_location du2.r_Count_RNO[4] 8 12 3 # SB_LUT4 (LogicCell: du2.r_Count[4]_LC_53)
set_location du2.r_Count[4] 8 12 3 # SB_DFFSR (LogicCell: du2.r_Count[4]_LC_53)
set_location du2.r_Count_2_cry_4_c 8 12 3 # SB_CARRY (LogicCell: du2.r_Count[4]_LC_53)
set_location du2.r_Count_RNO[5] 8 12 4 # SB_LUT4 (LogicCell: du2.r_Count[5]_LC_54)
set_location du2.r_Count[5] 8 12 4 # SB_DFFSR (LogicCell: du2.r_Count[5]_LC_54)
set_location du2.r_Count_2_cry_5_c 8 12 4 # SB_CARRY (LogicCell: du2.r_Count[5]_LC_54)
set_location du2.r_Count_RNO[6] 8 12 5 # SB_LUT4 (LogicCell: du2.r_Count[6]_LC_55)
set_location du2.r_Count[6] 8 12 5 # SB_DFFSR (LogicCell: du2.r_Count[6]_LC_55)
set_location du2.r_Count_2_cry_6_c 8 12 5 # SB_CARRY (LogicCell: du2.r_Count[6]_LC_55)
set_location du2.r_Count_RNO[7] 8 12 6 # SB_LUT4 (LogicCell: du2.r_Count[7]_LC_56)
set_location du2.r_Count[7] 8 12 6 # SB_DFFSR (LogicCell: du2.r_Count[7]_LC_56)
set_location du2.r_Count_2_cry_7_c 8 12 6 # SB_CARRY (LogicCell: du2.r_Count[7]_LC_56)
set_location du2.r_Count_RNO[8] 8 12 7 # SB_LUT4 (LogicCell: du2.r_Count[8]_LC_57)
set_location du2.r_Count[8] 8 12 7 # SB_DFFSR (LogicCell: du2.r_Count[8]_LC_57)
set_location du2.r_Count_2_cry_8_c 8 12 7 # SB_CARRY (LogicCell: du2.r_Count[8]_LC_57)
set_location du2.r_Count_RNO[9] 8 13 0 # SB_LUT4 (LogicCell: du2.r_Count[9]_LC_58)
set_location du2.r_Count[9] 8 13 0 # SB_DFFSR (LogicCell: du2.r_Count[9]_LC_58)
set_location du2.r_Count_2_cry_9_c 8 13 0 # SB_CARRY (LogicCell: du2.r_Count[9]_LC_58)
set_location du2.r_State_RNI02RD3 6 13 2 # SB_LUT4 (LogicCell: du2.r_State_RNI02RD3_LC_59)
set_location du2.r_State_RNO 7 12 3 # SB_LUT4 (LogicCell: du2.r_State_LC_60)
set_location du2.r_State 7 12 3 # SB_DFF (LogicCell: du2.r_State_LC_60)
set_location du2.r_State_RNO_0 7 12 2 # SB_LUT4 (LogicCell: du2.r_State_RNO_0_LC_61)
set_location du2.r_State_RNO_1 7 13 6 # SB_LUT4 (LogicCell: du2.r_State_RNO_1_LC_62)
set_location du2.r_State_RNO_2 7 13 1 # SB_LUT4 (LogicCell: du2.r_State_RNO_2_LC_63)
set_location du2.r_State_RNO_3 7 12 1 # SB_LUT4 (LogicCell: du2.r_State_RNO_3_LC_64)
set_location du2.r_State_RNO_4 7 12 5 # SB_LUT4 (LogicCell: du2.r_State_RNO_4_LC_65)
set_location du2.r_State_RNO_5 7 13 5 # SB_LUT4 (LogicCell: du2.r_State_RNO_5_LC_66)
set_location encoder1.r_Hex_Value_2_6_0_.m10 1 14 5 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[1]_LC_67)
set_location encoder1.r_Hex_Value_i[1] 1 14 5 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[1]_LC_67)
set_location encoder1.r_Hex_Value_2_6_0_.m14 2 14 5 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[2]_LC_68)
set_location encoder1.r_Hex_Value_i[2] 2 14 5 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[2]_LC_68)
set_location encoder1.r_Hex_Value_2_6_0_.m26 1 13 7 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[6]_LC_69)
set_location encoder1.r_Hex_Value_i[6] 1 13 7 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[6]_LC_69)
set_location encoder1.r_Hex_Value_2_6_0_.m5 1 14 4 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[0]_LC_70)
set_location encoder1.r_Hex_Value_i[0] 1 14 4 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[0]_LC_70)
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[3] 2 14 7 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[3]_LC_71)
set_location encoder1.r_Hex_Value_i[3] 2 14 7 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[3]_LC_71)
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[4] 2 14 4 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[4]_LC_72)
set_location encoder1.r_Hex_Value_i[4] 2 14 4 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[4]_LC_72)
set_location encoder1.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[5] 1 13 5 # SB_LUT4 (LogicCell: encoder1.r_Hex_Value_i[5]_LC_73)
set_location encoder1.r_Hex_Value_i[5] 1 13 5 # SB_DFF (LogicCell: encoder1.r_Hex_Value_i[5]_LC_73)
set_location encoder2.r_Hex_Value_2_6_0_.m10 1 14 1 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[1]_LC_74)
set_location encoder2.r_Hex_Value_i[1] 1 14 1 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[1]_LC_74)
set_location encoder2.r_Hex_Value_2_6_0_.m14 2 16 5 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[2]_LC_75)
set_location encoder2.r_Hex_Value_i[2] 2 16 5 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[2]_LC_75)
set_location encoder2.r_Hex_Value_2_6_0_.m26 1 16 2 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[6]_LC_76)
set_location encoder2.r_Hex_Value_i[6] 1 16 2 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[6]_LC_76)
set_location encoder2.r_Hex_Value_2_6_0_.m5 2 16 4 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[0]_LC_77)
set_location encoder2.r_Hex_Value_i[0] 2 16 4 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[0]_LC_77)
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[3] 2 16 3 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[3]_LC_78)
set_location encoder2.r_Hex_Value_i[3] 2 16 3 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[3]_LC_78)
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[4] 2 16 7 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[4]_LC_79)
set_location encoder2.r_Hex_Value_i[4] 2 16 7 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[4]_LC_79)
set_location encoder2.r_Hex_Value_2_6_0_.r_Hex_Value_2_i[5] 2 16 0 # SB_LUT4 (LogicCell: encoder2.r_Hex_Value_i[5]_LC_80)
set_location encoder2.r_Hex_Value_i[5] 2 16 0 # SB_DFF (LogicCell: encoder2.r_Hex_Value_i[5]_LC_80)
set_location r_Count_1_RNO[0] 1 13 6 # SB_LUT4 (LogicCell: r_Count_1[0]_LC_81)
set_location r_Count_1[0] 1 13 6 # SB_DFF (LogicCell: r_Count_1[0]_LC_81)
set_location r_Count_1_RNO_0[0] 1 13 0 # SB_LUT4 (LogicCell: r_Count_1_RNO_0[0]_LC_82)
set_location un1_r_Count_1_1_cry_0_c 1 13 0 # SB_CARRY (LogicCell: r_Count_1_RNO_0[0]_LC_82)
set_location r_Count_1_RNO_0[1] 1 13 1 # SB_LUT4 (LogicCell: r_Count_1_RNO_0[1]_LC_83)
set_location un1_r_Count_1_1_cry_1_c 1 13 1 # SB_CARRY (LogicCell: r_Count_1_RNO_0[1]_LC_83)
set_location r_Count_1_RNO_0[2] 1 13 2 # SB_LUT4 (LogicCell: r_Count_1_RNO_0[2]_LC_84)
set_location un1_r_Count_1_1_cry_2_c 1 13 2 # SB_CARRY (LogicCell: r_Count_1_RNO_0[2]_LC_84)
set_location r_Count_1_RNO_0[3] 1 13 3 # SB_LUT4 (LogicCell: r_Count_1_RNO_0[3]_LC_85)
set_location r_Count_1_RNO[1] 2 13 0 # SB_LUT4 (LogicCell: r_Count_1[1]_LC_86)
set_location r_Count_1[1] 2 13 0 # SB_DFF (LogicCell: r_Count_1[1]_LC_86)
set_location r_Count_1_RNO[2] 2 13 2 # SB_LUT4 (LogicCell: r_Count_1[2]_LC_87)
set_location r_Count_1[2] 2 13 2 # SB_DFF (LogicCell: r_Count_1[2]_LC_87)
set_location r_Count_1_RNO[3] 1 13 4 # SB_LUT4 (LogicCell: r_Count_1[3]_LC_88)
set_location r_Count_1[3] 1 13 4 # SB_DFF (LogicCell: r_Count_1[3]_LC_88)
set_location r_Count_2_RNO[0] 2 14 0 # SB_LUT4 (LogicCell: r_Count_2[0]_LC_89)
set_location r_Count_2[0] 2 14 0 # SB_DFF (LogicCell: r_Count_2[0]_LC_89)
set_location un1_r_Count_2_1_cry_0_c 2 14 0 # SB_CARRY (LogicCell: r_Count_2[0]_LC_89)
set_location r_Count_2_RNO[1] 2 14 1 # SB_LUT4 (LogicCell: r_Count_2[1]_LC_90)
set_location r_Count_2[1] 2 14 1 # SB_DFF (LogicCell: r_Count_2[1]_LC_90)
set_location un1_r_Count_2_1_cry_1_c 2 14 1 # SB_CARRY (LogicCell: r_Count_2[1]_LC_90)
set_location r_Count_2_RNO[2] 2 14 2 # SB_LUT4 (LogicCell: r_Count_2[2]_LC_91)
set_location r_Count_2[2] 2 14 2 # SB_DFF (LogicCell: r_Count_2[2]_LC_91)
set_location un1_r_Count_2_1_cry_2_c 2 14 2 # SB_CARRY (LogicCell: r_Count_2[2]_LC_91)
set_location r_Count_2_RNO[3] 2 14 3 # SB_LUT4 (LogicCell: r_Count_2[3]_LC_92)
set_location r_Count_2[3] 2 14 3 # SB_DFF (LogicCell: r_Count_2[3]_LC_92)
set_location r_State_ns_1_0_.m1 5 12 5 # SB_LUT4 (LogicCell: r_State_ns_1_0_.m1_LC_93)
set_location r_State_ns_1_0_.m2 5 12 2 # SB_LUT4 (LogicCell: r_State[0]_LC_94)
set_location r_State[0] 5 12 2 # SB_DFF (LogicCell: r_State[0]_LC_94)
set_location r_State_ns_1_0_.m5 5 12 6 # SB_LUT4 (LogicCell: r_State[1]_LC_95)
set_location r_State[1] 5 12 6 # SB_DFF (LogicCell: r_State[1]_LC_95)
set_location r_Ticks9_0_c_RNO 5 14 6 # SB_LUT4 (LogicCell: r_Ticks9_0_c_RNO_LC_96)
set_location r_Ticks9_1_c_RNO 5 14 7 # SB_LUT4 (LogicCell: r_Ticks9_1_c_RNO_LC_97)
set_location r_Ticks9_2_c_RNO 5 14 0 # SB_LUT4 (LogicCell: r_Ticks9_2_c_RNO_LC_98)
set_location r_Ticks9_3_c_RNO 5 14 5 # SB_LUT4 (LogicCell: r_Ticks9_3_c_RNO_LC_99)
set_location r_Ticks9_4_c_RNO 5 14 3 # SB_LUT4 (LogicCell: r_Ticks9_4_c_RNO_LC_100)
set_location r_Ticks9_5_c_RNO 4 12 6 # SB_LUT4 (LogicCell: r_Ticks9_5_c_RNO_LC_101)
set_location r_Ticks9_6_c_RNI6K4M2 2 13 3 # SB_LUT4 (LogicCell: r_Ticks9_6_c_RNI6K4M2_LC_102)
set_location r_Ticks9_6_c_RNIKRL01 6 12 0 # SB_LUT4 (LogicCell: r_Ticks9_6_c_RNIKRL01_LC_103)
set_location r_Ticks9_6_c_inv 5 13 6 # SB_LUT4 (LogicCell: r_Ticks9_6_c_inv_LC_104)
set_location r_Ticks9_6_c 5 13 6 # SB_CARRY (LogicCell: r_Ticks9_6_c_inv_LC_104)
set_location r_Ticks_RNO[0] 4 13 0 # SB_LUT4 (LogicCell: r_Ticks[0]_LC_105)
set_location r_Ticks[0] 4 13 0 # SB_DFFSR (LogicCell: r_Ticks[0]_LC_105)
set_location un1_r_Ticks_13_cry_0_c 4 13 0 # SB_CARRY (LogicCell: r_Ticks[0]_LC_105)
set_location r_Ticks_RNO[1] 4 13 1 # SB_LUT4 (LogicCell: r_Ticks[1]_LC_106)
set_location r_Ticks[1] 4 13 1 # SB_DFFSR (LogicCell: r_Ticks[1]_LC_106)
set_location un1_r_Ticks_13_cry_1_c 4 13 1 # SB_CARRY (LogicCell: r_Ticks[1]_LC_106)
set_location r_Ticks_RNO[10] 4 14 2 # SB_LUT4 (LogicCell: r_Ticks[10]_LC_107)
set_location r_Ticks[10] 4 14 2 # SB_DFFSR (LogicCell: r_Ticks[10]_LC_107)
set_location un1_r_Ticks_13_cry_10_c 4 14 2 # SB_CARRY (LogicCell: r_Ticks[10]_LC_107)
set_location r_Ticks_RNO[11] 4 14 3 # SB_LUT4 (LogicCell: r_Ticks[11]_LC_108)
set_location r_Ticks[11] 4 14 3 # SB_DFFSR (LogicCell: r_Ticks[11]_LC_108)
set_location un1_r_Ticks_13_cry_11_c 4 14 3 # SB_CARRY (LogicCell: r_Ticks[11]_LC_108)
set_location r_Ticks_RNO[12] 4 14 4 # SB_LUT4 (LogicCell: r_Ticks[12]_LC_109)
set_location r_Ticks[12] 4 14 4 # SB_DFFSR (LogicCell: r_Ticks[12]_LC_109)
set_location un1_r_Ticks_13_cry_12_c 4 14 4 # SB_CARRY (LogicCell: r_Ticks[12]_LC_109)
set_location r_Ticks_RNO[13] 4 14 5 # SB_LUT4 (LogicCell: r_Ticks[13]_LC_110)
set_location r_Ticks[13] 4 14 5 # SB_DFFSR (LogicCell: r_Ticks[13]_LC_110)
set_location un1_r_Ticks_13_cry_13_c 4 14 5 # SB_CARRY (LogicCell: r_Ticks[13]_LC_110)
set_location r_Ticks_RNO[14] 4 14 6 # SB_LUT4 (LogicCell: r_Ticks[14]_LC_111)
set_location r_Ticks[14] 4 14 6 # SB_DFFSR (LogicCell: r_Ticks[14]_LC_111)
set_location un1_r_Ticks_13_cry_14_c 4 14 6 # SB_CARRY (LogicCell: r_Ticks[14]_LC_111)
set_location r_Ticks_RNO[15] 4 14 7 # SB_LUT4 (LogicCell: r_Ticks[15]_LC_112)
set_location r_Ticks[15] 4 14 7 # SB_DFFSR (LogicCell: r_Ticks[15]_LC_112)
set_location un1_r_Ticks_13_cry_15_c 4 14 7 # SB_CARRY (LogicCell: r_Ticks[15]_LC_112)
set_location r_Ticks_RNO[16] 4 15 0 # SB_LUT4 (LogicCell: r_Ticks[16]_LC_113)
set_location r_Ticks[16] 4 15 0 # SB_DFFSR (LogicCell: r_Ticks[16]_LC_113)
set_location un1_r_Ticks_13_cry_16_c 4 15 0 # SB_CARRY (LogicCell: r_Ticks[16]_LC_113)
set_location r_Ticks_RNO[17] 4 15 1 # SB_LUT4 (LogicCell: r_Ticks[17]_LC_114)
set_location r_Ticks[17] 4 15 1 # SB_DFFSR (LogicCell: r_Ticks[17]_LC_114)
set_location un1_r_Ticks_13_cry_17_c 4 15 1 # SB_CARRY (LogicCell: r_Ticks[17]_LC_114)
set_location r_Ticks_RNO[18] 4 15 2 # SB_LUT4 (LogicCell: r_Ticks[18]_LC_115)
set_location r_Ticks[18] 4 15 2 # SB_DFFSR (LogicCell: r_Ticks[18]_LC_115)
set_location un1_r_Ticks_13_cry_18_c 4 15 2 # SB_CARRY (LogicCell: r_Ticks[18]_LC_115)
set_location r_Ticks_RNO[19] 4 15 3 # SB_LUT4 (LogicCell: r_Ticks[19]_LC_116)
set_location r_Ticks[19] 4 15 3 # SB_DFFSR (LogicCell: r_Ticks[19]_LC_116)
set_location un1_r_Ticks_13_cry_19_c 4 15 3 # SB_CARRY (LogicCell: r_Ticks[19]_LC_116)
set_location r_Ticks_RNO[2] 4 13 2 # SB_LUT4 (LogicCell: r_Ticks[2]_LC_117)
set_location r_Ticks[2] 4 13 2 # SB_DFFSR (LogicCell: r_Ticks[2]_LC_117)
set_location un1_r_Ticks_13_cry_2_c 4 13 2 # SB_CARRY (LogicCell: r_Ticks[2]_LC_117)
set_location r_Ticks_RNO[20] 4 15 4 # SB_LUT4 (LogicCell: r_Ticks[20]_LC_118)
set_location r_Ticks[20] 4 15 4 # SB_DFFSR (LogicCell: r_Ticks[20]_LC_118)
set_location un1_r_Ticks_13_cry_20_c 4 15 4 # SB_CARRY (LogicCell: r_Ticks[20]_LC_118)
set_location r_Ticks_RNO[21] 4 15 5 # SB_LUT4 (LogicCell: r_Ticks[21]_LC_119)
set_location r_Ticks[21] 4 15 5 # SB_DFFSR (LogicCell: r_Ticks[21]_LC_119)
set_location un1_r_Ticks_13_cry_21_c 4 15 5 # SB_CARRY (LogicCell: r_Ticks[21]_LC_119)
set_location r_Ticks_RNO[22] 4 15 6 # SB_LUT4 (LogicCell: r_Ticks[22]_LC_120)
set_location r_Ticks[22] 4 15 6 # SB_DFFSR (LogicCell: r_Ticks[22]_LC_120)
set_location un1_r_Ticks_13_cry_22_c 4 15 6 # SB_CARRY (LogicCell: r_Ticks[22]_LC_120)
set_location r_Ticks_RNO[23] 4 15 7 # SB_LUT4 (LogicCell: r_Ticks[23]_LC_121)
set_location r_Ticks[23] 4 15 7 # SB_DFFSR (LogicCell: r_Ticks[23]_LC_121)
set_location un1_r_Ticks_13_cry_23_c 4 15 7 # SB_CARRY (LogicCell: r_Ticks[23]_LC_121)
set_location r_Ticks_RNO[24] 4 16 0 # SB_LUT4 (LogicCell: r_Ticks[24]_LC_122)
set_location r_Ticks[24] 4 16 0 # SB_DFFSR (LogicCell: r_Ticks[24]_LC_122)
set_location r_Ticks_RNO[3] 4 13 3 # SB_LUT4 (LogicCell: r_Ticks[3]_LC_123)
set_location r_Ticks[3] 4 13 3 # SB_DFFSR (LogicCell: r_Ticks[3]_LC_123)
set_location un1_r_Ticks_13_cry_3_c 4 13 3 # SB_CARRY (LogicCell: r_Ticks[3]_LC_123)
set_location r_Ticks_RNO[4] 4 13 4 # SB_LUT4 (LogicCell: r_Ticks[4]_LC_124)
set_location r_Ticks[4] 4 13 4 # SB_DFFSR (LogicCell: r_Ticks[4]_LC_124)
set_location un1_r_Ticks_13_cry_4_c 4 13 4 # SB_CARRY (LogicCell: r_Ticks[4]_LC_124)
set_location r_Ticks_RNO[5] 4 13 5 # SB_LUT4 (LogicCell: r_Ticks[5]_LC_125)
set_location r_Ticks[5] 4 13 5 # SB_DFFSR (LogicCell: r_Ticks[5]_LC_125)
set_location un1_r_Ticks_13_cry_5_c 4 13 5 # SB_CARRY (LogicCell: r_Ticks[5]_LC_125)
set_location r_Ticks_RNO[6] 4 13 6 # SB_LUT4 (LogicCell: r_Ticks[6]_LC_126)
set_location r_Ticks[6] 4 13 6 # SB_DFFSR (LogicCell: r_Ticks[6]_LC_126)
set_location un1_r_Ticks_13_cry_6_c 4 13 6 # SB_CARRY (LogicCell: r_Ticks[6]_LC_126)
set_location r_Ticks_RNO[7] 4 13 7 # SB_LUT4 (LogicCell: r_Ticks[7]_LC_127)
set_location r_Ticks[7] 4 13 7 # SB_DFFSR (LogicCell: r_Ticks[7]_LC_127)
set_location un1_r_Ticks_13_cry_7_c 4 13 7 # SB_CARRY (LogicCell: r_Ticks[7]_LC_127)
set_location r_Ticks_RNO[8] 4 14 0 # SB_LUT4 (LogicCell: r_Ticks[8]_LC_128)
set_location r_Ticks[8] 4 14 0 # SB_DFFSR (LogicCell: r_Ticks[8]_LC_128)
set_location un1_r_Ticks_13_cry_8_c 4 14 0 # SB_CARRY (LogicCell: r_Ticks[8]_LC_128)
set_location r_Ticks_RNO[9] 4 14 1 # SB_LUT4 (LogicCell: r_Ticks[9]_LC_129)
set_location r_Ticks[9] 4 14 1 # SB_DFFSR (LogicCell: r_Ticks[9]_LC_129)
set_location un1_r_Ticks_13_cry_9_c 4 14 1 # SB_CARRY (LogicCell: r_Ticks[9]_LC_129)
set_location r_Switch_1_THRU_LUT4_0 5 12 4 # SB_LUT4 (LogicCell: r_Switch_1_LC_130)
set_location r_Switch_1 5 12 4 # SB_DFF (LogicCell: r_Switch_1_LC_130)
set_location r_Switch_2_THRU_LUT4_0 5 12 3 # SB_LUT4 (LogicCell: r_Switch_2_LC_131)
set_location r_Switch_2 5 12 3 # SB_DFF (LogicCell: r_Switch_2_LC_131)
set_location r_Ticks9_THRU_LUT4_0 5 13 7 # SB_LUT4 (LogicCell: r_Ticks9_THRU_LUT4_0_LC_132)
set_location du1.r_Count_2_cry_1_c 5 9 0 # SB_CARRY (LogicCell: du1.r_Count_2_cry_1_c_LC_133)
set_location du2.r_Count_2_cry_1_c 8 12 0 # SB_CARRY (LogicCell: du2.r_Count_2_cry_1_c_LC_134)
set_location r_Ticks9_0_c 5 13 0 # SB_CARRY (LogicCell: r_Ticks9_0_c_LC_135)
set_location r_Ticks9_1_c 5 13 1 # SB_CARRY (LogicCell: r_Ticks9_1_c_LC_136)
set_location r_Ticks9_2_c 5 13 2 # SB_CARRY (LogicCell: r_Ticks9_2_c_LC_137)
set_location r_Ticks9_3_c 5 13 3 # SB_CARRY (LogicCell: r_Ticks9_3_c_LC_138)
set_location r_Ticks9_4_c 5 13 4 # SB_CARRY (LogicCell: r_Ticks9_4_c_LC_139)
set_location r_Ticks9_5_c 5 13 5 # SB_CARRY (LogicCell: r_Ticks9_5_c_LC_140)
set_location GND -1 -1 -1 # GND
set_io du1.r_State_RNIGILH2_0 0 8 1 # ICE_GB
set_io du2.r_State_RNI02RD3_0 6 17 1 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io i_Switch_2_ibuf 13 3 1 # ICE_IO
set_io o_Segment1_A_obuf 0 13 1 # ICE_IO
set_io o_Segment1_B_obuf 0 13 0 # ICE_IO
set_io o_Segment1_C_obuf 5 17 1 # ICE_IO
set_io o_Segment1_D_obuf 6 17 0 # ICE_IO
set_io o_Segment1_E_obuf 6 17 1 # ICE_IO
set_io o_Segment1_F_obuf 0 14 1 # ICE_IO
set_io o_Segment1_G_obuf 0 14 0 # ICE_IO
set_io o_Segment2_A_obuf 1 17 1 # ICE_IO
set_io o_Segment2_B_obuf 2 17 1 # ICE_IO
set_io o_Segment2_C_obuf 3 17 1 # ICE_IO
set_io o_Segment2_D_obuf 4 17 1 # ICE_IO
set_io o_Segment2_E_obuf 5 17 0 # ICE_IO
set_io o_Segment2_F_obuf 0 12 0 # ICE_IO
set_io o_Segment2_G_obuf 4 17 0 # ICE_IO
set_io r_Ticks9_6_c_RNIKRL01_0 13 9 0 # ICE_GB
